{% extends "admin/base.html" %}
{% load i18n  admin_list %}
{% block branding %}
    <h1>Poll - {{ object.name }}</h1>
{% endblock %}
{% block content %}
    <p>{{ object.name }}</p>
    <p>Create at: {{ object.created_date|date }}</p>
    <p>End Date: {{ object.end_date|date }}</p>
    <form action="{% url 'save-answers' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ object.pk }}" name="poll_id">
        <h2>Questions </h2>
        {% for question in object.questions.all %}
            <hr>
            <div>{{ question.text }}, - {{ question.get_display_type }}</div>

            {% if question.type == 2 %}
                <input type="hidden" value="{{ question.pk }}" name="multi_question">
            {% else %}
                <input type="hidden" value="{{ question.pk }}" name="question_ids">
            {% endif %}
            {% if question.type != 0 %}
                {% if question.type == 2 %}
                    {% for answer in question.answers.all %}
                        <input type="checkbox" name="multi_answers" value="{{ answer.pk }}">{{ answer.text }}
                        <br>
                    {% endfor %}
                {% else %}
                    {% for answer in question.answers.all %}
                        <input type="radio" name="answer" value="{{ answer.pk }}">{{ answer.text }}
                        <br>
                    {% endfor %}
                {% endif %}
            {% else %}
                <textarea name="answer"></textarea>
            {% endif %}
            <br>
            <br>
            <br>
        {% endfor %}
        <button>save</button>
    </form>
    <br>
    <h1>Received Answers</h1>
    <div>
        {% for key,value in received_answers %}
            <hr>
            <div>
                <p> {{ key }}  -  {{ value }} </p>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}